<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:include filename="$(find robot_description)/urdf/robot_drive.xacro" />

	<!-- <gazebo>
  		<plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
		    <alwaysOn>true</alwaysOn>
		    <updateRate>100</updateRate>
		    <leftJoint>base_to_wheellcenter</leftJoint>
		    <rightJoint>base_to_wheelrcenter</rightJoint>
		    <wheelSeparation>0.79</wheelSeparation>
		    <wheelDiameter>0.22</wheelDiameter>
		    <commandTopic>cmd_vel</commandTopic>
		    <odometryTopic>odom</odometryTopic>
		    <odometryFrame>odom</odometryFrame>
		    <robotBaseFrame>base_link</robotBaseFrame>
  		</plugin>
	</gazebo> -->

	<gazebo>
	  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
	    <robotNamespace>/robot</robotNamespace>
	    <robotParam>/robot_description</robotParam>
	  </plugin>
	</gazebo>
</robot>
