<launch>
<!-- Robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="1.5705"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

	<param name="/use_sim_time" value="true"/>

	<arg name="paused" default="false" />
	<arg name="use_sim_time" default="true" />
	<arg name="gui" default="true" />
	<arg name="headless" default="false" />
	<arg name="debug" default="false" />

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!-- <arg name="world_name" value="$(find robot_gazebo)/worlds/frc2016.world" /> -->

		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)" />
		<arg name="use_sim_time" value="$(arg use_sim_time)" />
		<arg name="headless" value="$(arg headless)" />
	</include>

	<!-- Load joint controller configurations from YAML file to parameter server -->
	<rosparam file="$(find robot_description)/config/robot_control.yaml" command="load"/>

	<param name="/robot/robot_description" command="$(find xacro)/xacro.py '$(find robot_description)/urdf/robot.xacro'" />
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find robot_description)/urdf/robot.xacro'" />

	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model robot -param robot_description  -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />

</launch>