<launch>
  <rosparam file="$(find launch)/config/lidar.yaml" />

  <node pkg="tf" type="static_transform_publisher" name="front_lidar_base_link" args=".2 0 -0.063 0 -0.07 0 base_link xv11_front 100"/> 

  <!-- Converts LIDAR data to ROS type -->
  <node name="XV11Driver" pkg="xv_11_laser_driver" type="neato_laser_publisher" />
</launch>