<launch>
  <!-- Params -->
  <rosparam file="$(find launch)/config/roborio_comms.yaml" />

  <!-- Handles sending vel commands to motors -->
  <node name="MotorSender" pkg="roborio_comms" type="motor_sender.py" />
  
  <!-- Handles recieving encoder data, imu data, and robot status data -->
  <node name="StatusReciever" pkg="roborio_comms" type="status_receiver.py" output="screen" />
</launch>
