<launch>
  <!-- Params -->
  <rosparam file="$(find launch)/config/odometry.yaml" />

  <!-- Include comms -->
  <include file="$(find launch)/launch/roborio_comms.launch" />

  <!-- Handles converting encoders to odometry -->
  <node name="DiffTf" pkg="differential_drive" type="diff_tf.py" />
</launch>